.idea/
__pycache__/
build/
node_modules/
dist/
*.egg-info
*.log
MicroserviceBase/MicroserviceManagerGUI/python/bridge.pid
MicroserviceBase/MicroserviceManagerGUI/python/hub_processes.json
MicroserviceBase/MicroserviceManagerGUI/python/services/
nul
MicroserviceBase/MicroserviceManagerGUI/node_modules
MicroserviceBase/MicroserviceManagerGUI/web/services/*
!MicroserviceBase/MicroserviceManagerGUI/web/services/ServiceAlias*/
MicroserviceBase/MicroserviceManagerGUI/electron/alias.json