<div class="card" style="height: 100%; width: 100%; top: 0;">
  <div class="card-header">
    <h5 class="card-title">@@{svc}</h5>
  </div>
  <div class="card-body">
    <p>GUI for @@{svc}. Customize this HTML file.</p>
    <div id="@@{svc}Content"></div>
  </div>
</div>
