{
  "name": "@@{snake_hyphen}-qt-client-grpcpp",
  "version-string": "@@{version}",
  "description": "Qt client using Google grpc++ via vcpkg + Qt MinGW.",
  "dependencies": [
    { "name": "grpc", "default-features": false, "features": ["codegen"] },
    "protobuf"
  ]
}
