
:: ----- Deploy Qt runtime + QML imports for the GUI client -----
if exist "%DIST%\@@{project_snake}_gui.exe" (
    if exist "%MSYS2_ROOT%\bin\windeployqt-qt6.exe" (
        echo Running windeployqt-qt6 for @@{project_snake}_gui.exe ^(QML^)...
        "%MSYS2_ROOT%\bin\windeployqt-qt6.exe" --release --no-translations --no-system-d3d-compiler --no-opengl-sw --compiler-runtime --qmldir "%SCRIPT_DIR%client\gui" "%DIST%\@@{project_snake}_gui.exe" >nul
    ) else if exist "%MSYS2_ROOT%\bin\windeployqt.exe" (
        "%MSYS2_ROOT%\bin\windeployqt.exe" --release --no-translations --no-system-d3d-compiler --no-opengl-sw --compiler-runtime --qmldir "%SCRIPT_DIR%client\gui" "%DIST%\@@{project_snake}_gui.exe" >nul
    ) else (
        echo WARNING: windeployqt not found in %MSYS2_ROOT%\bin
        echo          Install with:  pacman -S mingw-w64-x86_64-qt6-tools
    )
)
