<div class="card" style="height: 100%; width: 100%; top: 0;">
  <div class="card-header">
    <h5 class="card-title">@@{service_name}</h5>
    <span class="badge bg-info" id="qtStatusBadge">Loading...</span>
  </div>
  <div class="card-body p-0" style="height: calc(100% - 60px); overflow: hidden;">
    <div id="qtContainer" style="width: 100%; height: 100%;"></div>
  </div>
</div>
