#pragma once

#include "@@{basename}.grpc.pb.h"
#include "../../domain/@@{svc_pascal}.h"

namespace @@{svc_snake} {

// gRPC adapter: thin wrapper translating proto messages <-> domain calls.
class @@{svc_pascal}GrpcAdapter final
    : public ::@@{proto_namespace}::@@{svc_pascal}::Service {
public:
    explicit @@{svc_pascal}GrpcAdapter(@@{svc_pascal}& domain) : m_domain(domain) {}

@@{method_decls}

private:
    @@{svc_pascal}& m_domain;
};

}  // namespace @@{svc_snake}
